body {
  font-size: 13px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  color: #333;
}
.container {
  /*width: 620px;*/
}
h1,h2,h3,h4,h5,h6 {
}
#outerlogger {
  display: none;
  border-radius: 20px;
  border:1px solid #BBB;
  background-color: #BBB;
  position:absolute;
  right:5px;
  top:5%;
  width:600px;
  height:600px;
  height:90%;
  float:right;
  opacity: 0.8;
  padding:10px;
}
#outerlogger #logger{
  height:570px;
}

#outerlogger h3 {
  border:#999 solid 1px;
  background-color: #fff;
  width:100px;
  padding:5px;
  margin: 0px 0 10px 0;
  border-radius:10px;
  text-align: center;
  height: 20px;
}
div#watch-me-grow {
  clear: both;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  padding:10px;
}

div#move-container {
  width: 200px;
  height: 225px;
}

div#watch-me-move {
  position:relative;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  padding:10px;
}

div#watch-me-change-colors {
  clear: both;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  padding:10px;
}

pre.initdata {
  padding:2px;
  /*min-height: 10px;*/
  border:1px solid #ddd;
  background-color: #eee;
  border-radius: 5px;
}

div.output_grow {
  margin-top:  10px;
}

div.notifier-area {
  padding-top:5px;
  padding-bottom:5px;
  border-bottom: solid 1px darkgrey;
  border-top: solid 1px darkgrey;
  margin-bottom: 20px;
}
div.output {
  float:right;
  right:5px;
  top:100px;
  width:300px;
  height:200px;
  position:fixed;

  /*height:10px;*/
  padding:10px;
  /*min-height: 10px;*/
  border:1px solid #555;
  background-color: #eee;
  border-radius: 10px;
}

/* TODO: improve coffescript to follow changes that affect position of the current element! (some sort of event binder/handler?)*/
/*pre.largedemo {
  height: 100px;
}*/